body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav {

  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background: #09BC84; */
  /* background: #9AB87A; */
  background:#100718;
  color: white;
  font-family: VT323-Regular;
  text-decoration: none;

}

.transt {
  text-align: center;
}